<div class="beer">
    <div class="box-img">
        <a href="https://api.punkapi.com/v2/beers/{{ id }}" target="_blank"><img src="{{ image_url }}" /></a>
    </div>
    <div class="box-copy">
        <h2>{{ name }}</h2>
        <p>{{ description }}</p>
        <span>{{ tagline }}</span>
    </div>
</div>